<div class="p-login">
    <div class="news-feed">
      <div class="news-image">
          <img src="css/login/img/bg-7.jpg" />
      </div>
      <div class="news-caption">
        <h4 class="caption-title">JRES UI新版本全力来袭！</h4>
        <p>Download the JRES UI for iPhone®, iPad®, and Android™. The new version of JRES UI come out with the full attack!
        </p>
      </div>
    </div>
    <div class="right-content">
      <div class="login-header">
        <div class="brand">
          <span class="logo"></span> 登录  
          <small></small>
        </div>
        <div class="icon">
          <i class="fa fa-sign-in"></i>
        </div>
      </div>
      <div class="login-content">
       <form method="post" action="index.htm">
		#if("$!{errorInfo}"!="")
          <div class="m-tip-box m-tip-error" style="display: block">
            <span><i class="fa fa-close"></i></span> $!{errorInfo}
          </div>
		  #end
          <div class="form-group">
			<input type="text" name="user_name" class="form-control input-lg" placeholder="用户名"  value="$!{userName}">
          </div>
          <div class="form-group">
			  <input type="password" name="password" class="form-control input-lg" placeholder="密码" value="">
          </div>
          <div class="form-group">
				<input type="text" name="checkCode" class="form-control control-verify input-lg" placeholder="验证码" value="">
					<img class="verify-img" src="$appServer.get('/horn/checkCode/get.htm')"/>
          </div>
          <div class="checkbox">
              <label>
                  <input type="checkbox" /> 记住我
              </label>
          </div>
          <div class="login-buttons">
              <button type="submit" class="btn-login">登录</button>
          </div>
          <div class="regedit">
              还没有帐号? 点击 <a href="register_v3.html" class="text-success">这里</a> 开始注册.
          </div>
          <hr />
          <p class="copyright">
              &copy; JRES All Right Reserved 2016
          </p>
        </form>
      </div>
    </div>
  </div>